@charset "utf-8";
/* CSS Document */
p {
	color: aquamarine;
	background-color: crimson;
	font-size: 50px;
	text-align: center;
	text-shadow: 5px 5px 5px red; 
}

table {
	border: 3px dashed gray;
	text-shadow: 5px 5px 5px red;
}

td:hover {
	background-color: coral;
	color: white;
}

th {
	background-color: lightgrey;
}

